body{
    margin: 0;
    padding: 0;
    
}

.App{
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 12rem auto 15rem;
    gap:1rem;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    
}

.blur{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    filter: blur(80px);
}

